.btn {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: .5em;
}

.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-red:hover {
    background-color: var(--primary);
}